table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ddd;
}

table th,
table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}
