.signcontainer {
  background: linear-gradient(rgb(25, 110, 115), rgb(73, 77, 174));
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  border-radius: 15px;
  width: 320px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.26);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.7px);
  -webkit-backdrop-filter: blur(6.7px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
  margin-top: 35px;
  width: 100%;
}

.inputs input {
  font-size: 24px;
  padding: 15px;
  outline: none;
  /* border-radius: 10px; */
  border: none;
  background-color: transparent;
  border-bottom: 1px solid black;
  color: rgb(205, 203, 203);
}

.inputs input::placeholder {
  color: rgb(198, 198, 198);
}

.hello {
  color: aliceblue;
  /* text-decoration: underline black; */
}

/* input {
  width: 100%;
  max-width: 220px;
  /* height: 45px; 
  padding: 12px;
  border-radius: 12px;
  border: none;
  outline: none;
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  box-shadow: 0px 0px 20px -18px;
} */
